/* body{

    background-image: url(assets/background812.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{

    background-image : linear-gradient(to bottom, rgba(0, 0, 0, 0.68),rgba(0, 0, 0, 0.237));
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
}

img{

    position: fixed;
    width: 100px;
    height: 50px;
    top:2% 
}

h1{

  color: rgb(179, 178, 178);
  text-align:center;
  margin-top: 0%;
  font-family: "Roboto Condensed", "sans-serif";
}

nav{

    box-sizing: border-box;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.carrossel{
    height: 500px;
    width: 500px;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
}

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);  
}

.img{
    height: 500px;
    width: 500px;
    /* sobreposição . com cover ficou desproporcional */
    object-fit: cover;
}

